@charset "UTF-8";
header div {
  text-align: center; }

main {
  background-image: url(../assets/img/lightsticks.png); }

h2 {
  text-align: center; }
  h2 span {
    font-family: arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: white; }

.rowFlex {
  display: flex;
  flex-direction: row;
  justify-content: center; }

nav {
  background-color: #A681F5; }
  nav ul {
    display: flex;
    justify-content: right; }
    nav ul li {
      list-style: none;
      padding-right: 15px;
      justify-content: right; }
      nav ul li a {
        font-family: arial, sans-serif;
        color: #5a1d91;
        text-decoration: none;
        font-weight: bold; }
        nav ul li a:hover {
          font-family: Comic Sans, cursive;
          color: white;
          text-decoration: none;
          font-weight: bold; }

table {
  background-color: white;
  font-family: arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  font-align: center; }
  table th {
    background-color: #A681F5;
    border: 2px solid #2A1559; }
  table td {
    border: 2px solid #2A1559;
    padding: 20px; }
  table img {
    height: 200px; }

footer {
  background-image: linear-gradient(#26134F, #D6C7DD); }
  footer div {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-self: center;
    font-family: arial, sans-serif;
    color: #1E0D42;
    text-decoration: none;
    font-weight: bold;
    padding: 15px; }
    footer div a {
      font-family: arial, sans-serif;
      color: #1E0D42;
      text-decoration: none; }
      footer div a:hover {
        text-decoration: none; }
    footer div img {
      height: 40px; }

.footer__imgHearts {
  height: 120px; }

.footer__imagenwhatsapp:hover {
  transform: translateY(-10px); }

.footer__imageninstagram:hover {
  transform: translateY(-10px); }

.footer__imagenfacebook:hover {
  transform: translateY(-10px); }

.footer__imagenwhatsapp:hover {
  cursor: pointer; }

.footer__imageninstagram:hover {
  cursor: pointer; }

.footer__imagenfacebook:hover {
  cursor: pointer; }

.boton, .botonBTS, .botonGOT, .botonTWICE, .botonKARD, .botonSTK, .botonTXT {
  font-family: arial, sans-serif;
  font-size: 15px;
  border: 2px solid #2A1559;
  color: black; }

.botonBTS {
  background-color: purple; }

.botonGOT {
  background-color: green; }

.botonTWICE {
  background-color: pink; }

.botonKARD {
  background-color: red; }

.botonSTK {
  background-color: yellow; }

.botonTXT {
  background-color: blue; }

.boton, .botonBTS, .botonGOT, .botonTWICE, .botonKARD, .botonSTK, .botonTXT {
  width: 80px;
  height: 60px; }

.grupos--titulos {
  font-family: arial, sans-serif;
  font-size: 25px;
  color: #1E0D42;
  font-weight: bold;
  text-align: center; }

.grupos-texto {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #1E0D42;
  font-weight: bold;
  text-align: center;
  background-color: white; }

.contenedor-noticia {
  display: grid;
  grid-template-areas: "titNot1 titNot1"  "imgNot1 descNot1" "titNot2 titNot2"  "imgNot2 descNot2" "titNot3 titNot3"  "imgNot3 descNot3";
  grid-template-rows: repeat(6, auto);
  grid-template-columns: 30% 70%; }

.tituloNoticia1 {
  grid-area: titNot1; }

.imagenNoticia1 {
  grid-area: imgNot1; }

.descripcionNoticia1 {
  grid-area: descNot1; }

.tituloNoticia2 {
  grid-area: titNot2; }

.imagenNoticia2 {
  grid-area: imgNot2; }

.descripcionNoticia2 {
  grid-area: descNot2; }

.tituloNoticia3 {
  grid-area: titNot3; }

.imagenNoticia3 {
  grid-area: imgNot3; }

.descripcionNoticia3 {
  grid-area: descNot3; }

.titNot--texto {
  font-family: arial, sans-serif;
  font-size: 20px;
  color: #1E0D42;
  font-weight: bold;
  text-transform: uppercase; }

.descNot--texto {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #1E0D42;
  font-weight: bold;
  background-color: white; }

.form--text {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #5a1d91;
  font-weight: bold; }

.input--text {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #5a1d91;
  font-weight: bold; }

.input--button {
  background-color: #D6C7DD;
  border-radius: 6px;
  border: 2px solid #2A1559;
  box-shadow: 4px 4px 10px #2A1559;
  padding: 4px; }

.form--margenes {
  margin-bottom: 2px; }

/* medias queries de nav*/
/* vista mobile*/
@media (min-width: 360px) and (max-width: 767px) {
  header nav ul li a {
    font-size: 8px; } }

/* medias queries de página INDEX*/
/* vista mobile*/
@media (min-width: 360px) and (max-width: 767px) {
  .columnFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  .header--text {
    font-family: arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none; }
  header div img {
    height: 20px; }
  .table__image--height {
    height: 200px; }
  iframe {
    width: 360px; }
  .main__bienvenido--texto {
    float: left;
    font-family: arial, sans-serif;
    font-size: 30px;
    color: #5a1d91;
    font-weight: bold;
    background-color: white;
    margin: 30px; }
  .main__titulos--texto {
    font-family: arial, sans-serif;
    font-size: 20px;
    color: #5a1d91;
    font-weight: bold;
    background-color: white; }
  .nav__item--text {
    font-family: arial, sans-serif;
    font-size: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none; }
  .nav__item--link:hover {
    font-family: Comic Sans, cursive;
    font-size: 8px;
    color: #5a1d91;
    font-weight: bold;
    text-decoration: none; } }

/* vista tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  .columnFlex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap; }
  header div img {
    height: 40px; }
  .nav__item--text {
    font-family: arial, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
    text-decoration: none; }
  .nav__item--link:hover {
    font-family: Comic Sans, cursive;
    font-size: 15px;
    color: #5a1d91;
    font-weight: bold;
    text-decoration: none; } }

/* medias queries página NOTICIAS*/
/* vista mobile*/
@media (min-width: 360px) and (max-width: 767px) {
  .contenedor-noticia {
    display: grid;
    grid-template-areas: "titNot1"  "imgNot1" "descNot1" "titNot2"  "imgNot2" "descNot2" "titNot3"  "imgNot3" "descNot3";
    grid-template-rows: repeat(9, auto);
    grid-template-columns: 90%; }
  .tituloNoticia1 {
    grid-area: titNot1; }
  .imagenNoticia1 {
    grid-area: imgNot1; }
  .descripcionNoticia1 {
    grid-area: descNot1; }
  .tituloNoticia2 {
    grid-area: titNot2; }
  .imagenNoticia2 {
    grid-area: imgNot2; }
  .descripcionNoticia2 {
    grid-area: descNot2; }
  .tituloNoticia3 {
    grid-area: titNot3; }
  .imagenNoticia3 {
    grid-area: imgNot3; }
  .descripcionNoticia3 {
    grid-area: descNot3; } }

/* fin medias queries */
/* medias queries de footer de todas las páginas*/
/* vista mobile*/
@media (min-width: 360px) and (max-width: 767px) {
  .footer__imgHearts {
    height: 30px; }
  .footer__imagenwhatsapp {
    height: 20px; }
  .footer__imagenfacebook {
    height: 20px; }
  .footer__imageninstagram {
    height: 20px; }
  footer div a {
    font-size: 8px; } }

/* vista tablet*/
@media (min-width: 768px) and (max-width: 1023px) {
  .footer__imgHearts {
    height: 60px; }
  footer div a {
    font-size: 12px; } }
