$colorFuenteEncabezados: #5a1d91;
$colorFuenteTitulos: #5a1d91;
$colorFuenteTexto: #1E0D42;
$colorFuenteNavbarHover: white;
$colorFondoTexto: #A681F5;
$colorFondoTabla: white;
$colorFondoEncabezados: white;
$colorBordes: #2A1559;
$colorFondoBoton: #D6C7DD;

