.boton {
	font-family: $fuentePrimaria;
	font-size: 15px;
	border: 2px solid $colorBordes;
	color: black;
}

.botonBTS {
	@extend .boton;
	background-color: purple;
}

.botonGOT {
	@extend .boton;
	background-color: green;
}

.botonTWICE {
	@extend .boton;
	background-color: pink;
}

.botonKARD {
	@extend .boton;
	background-color: red;
}

.botonSTK {
	@extend .boton;
	background-color: yellow;
}

.botonTXT {
	@extend .boton;
	background-color: blue;
}

