$redesEfecto: (
	whatsapp: translateY(-10px),
	instagram: translateY(-10px),
	facebook: translateY(-10px)
);

$redesCursor: (
	whatsapp: pointer,
	instagram: pointer,
	facebook: pointer
);

@each $red, $efecto in $redesEfecto {
	.footer__imagen#{$red}:hover {
		transform: $efecto;
	}
}

@each $red, $cursor in $redesCursor {
	.footer__imagen#{$red}:hover {
		cursor: $cursor;
	}
}
