/* medias queries de header de todas las páginas*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
header div img {
	height: 30px;
}
header nav ul li a {
	font-size: 9px;
}
}
@media (min-width:768px) and (max-width:1023px){
header div img {
	height: 60px;	
}
}
/* medias queries de página INDEX*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
.columnFlex {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.header--text {
	font-family: $fuentePrimaria; 
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
}
.table__image--height {
	height: 200px;
}
iframe {
	width: 360px;
}
.main__bienvenido--texto {
	float: left;
	font-family: $fuentePrimaria; 
	font-size: 30px;
	color: $colorFuenteTitulos;
	font-weight: bold;
	background-color: white;
	margin: 30px;
}
.main__titulos--texto {
	font-family: $fuentePrimaria; 
	font-size: 20px;
	color: $colorFuenteTitulos;
	font-weight: bold;
	background-color: white;
}
.nav__item--text {
	font-family: $fuentePrimaria; 
	font-size: 8px;
	color: $colorFuenteNavbarHover;
	font-weight: bold;
	text-decoration: none;
}
.nav__item--link:hover {
	font-family: $fuenteNavbarHover;
	font-size: 8px;
	color: $colorFuenteTitulos;
	font-weight: bold;
	text-decoration: none;
}
iframe {
	width: 360px;
}
}

/* medias queries página PRODUCTOS*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
.prod--texto {
	font-family: $fuentePrimaria; 
	font-size: 10px;
	color: $colorFuenteTexto;
	font-weight: bold;
	text-align: center;
	background-color: $colorFondoEncabezados;
}
table img {
	height: 80px;
}
table td {
	padding: 2px;
}
table tr td {
	padding: 2px;
}
}

/* medias queries página GRUPOS*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
	.grupos--titulos {
	font-family: $fuentePrimaria; 
	font-size: 15px;
	color: $colorFuenteTexto;
	font-weight: bold;
	text-align: center;
}
.grupos-texto {
	font-family: $fuentePrimaria; 
	font-size: 12px;
	color: $colorFuenteTexto;
	font-weight: bold;
	text-align: center;
	background-color: $colorFondoEncabezados;
}
}

/* medias queries página NOTICIAS*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
	.contenedor-noticia {
	display: grid;
	grid-template-areas:
	"titNot1" 
	"imgNot1"
	"descNot1"
	"titNot2" 
	"imgNot2"
	"descNot2"
	"titNot3" 
	"imgNot3"
	"descNot3";
	grid-template-rows: repeat(9, auto);
	grid-template-columns: 90%;
}
.tituloNoticia1 {
	grid-area: titNot1;
}
.imagenNoticia1 {
	grid-area: imgNot1;
}
.descripcionNoticia1 {
	grid-area: descNot1;
}
.tituloNoticia2 {
	grid-area: titNot2;
}
.imagenNoticia2 {
	grid-area: imgNot2;
}
.descripcionNoticia2 {
	grid-area: descNot2;
}
.tituloNoticia3 {
	grid-area: titNot3;
}
.imagenNoticia3 {
	grid-area: imgNot3;
}
.descripcionNoticia3 {
	grid-area: descNot3;
}
.titNot--texto {
	font-family: $fuentePrimaria; 
	font-size: 14px;
	color: $colorFuenteTexto;
	font-weight: bold;
	text-transform: uppercase;
}
.descNot--texto {
	font-family: $fuentePrimaria; 
	font-size: 12px;
	color: $colorFuenteTexto;
	font-weight: bold;
	background-color: $colorFondoEncabezados
}
}

/* medias queries página CONTACTO*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
	.form--text {
	font-family: $fuentePrimaria; 
	font-size: 12px;
	color: $colorFuenteTitulos;
	font-weight: bold;
}
.input--text {
	font-family: $fuentePrimaria; 
	font-size: 12px;
	color: $colorFuenteTitulos;
	font-weight: bold;
}
}

/* medias queries de footer de todas las páginas*/
/* vista mobile*/
@media (min-width:360px) and (max-width:767px){
	.footer__imgHearts {
	height: 30px;
}
.footer__imagenwhatsapp {
	height: 20px;
}
.footer__imagenfacebook {
	height: 20px;
}
.footer__imageninstagram {
	height: 20px;
}
footer div a {
	font-size: 10px;
}
}
/* vista tablet*/
@media (min-width:768px) and (max-width:1023px){
	.footer__imgHearts {
	height: 60px;
}
footer div a {
	font-size: 15px;
}
}

