<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Productos</title>
	<link rel="shortcut icon" href="../assets/img/favicon.png">
	<link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
	<header>
			<div>
				<img src="../assets/img/header.png" alt="banner">
			</div>
			<nav>
				<ul>
					<li><a href="../index.html">HOME</a></li>
					<li><a href="productos.html">PRODUCTOS</a></li>
					<li><a href="grupos.html">GRUPOS</a></li>
					<li><a href="noticias.html">NOTICIAS KPOP</a></li>
					<li><a href="contacto.html">CONTACTO</a></li>
				</ul>
				<hr>
			</nav>
		</header>
	<main>
		<h2><span> PRODUCTOS</span></h2>
		<table>
			<tr>
				<th>IMAGEN</th>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>CARACTERISTICAS</th>
				<th>PRECIO</th>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_bts.png" alt="BTS"></td>
				<td>001</td>
				<td>Llavero BT21</td>
				<td>
					<ul>
						<li>Material: Plush</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 10cm</li>
							<li>Ancho: 6cm</li>
						</ul>
					</ul>
				</td>
				<td>$500</td>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_got.png" alt="GOT7"></td>
				<td>002</td>
				<td>Ring para celular GOT7</td>
				<td>
					<ul>
						<li>Material: Metal</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 35mm</li>
							<li>Ancho: 25mm</li>
						</ul>
					</ul>
				</td>
				<td>$300</td>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_twice.png" alt="TWICE"></td>
				<td>003</td>
				<td>Posters Twice</td>
				<td>
					<ul>
						<li>Pack 6 posters</li>
						<li>Material: Papel Ilustración</li>
						<li>Acabado: Brillante</li>
						<li>Medidas:</li>
						<ul>
							<li>Alto: 47cm</li>
							<li>Ancho: 32cm</li>
						</ul>
					</ul>
				</td>
				<td>$1000</td>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_kard.png" alt="KARD"></td>
				<td>004</td>
				<td>Remera Kard</td>
				<td>
					<ul>
						<li>Género: Mujer</li>
						<li>Material: Modal</li>
						<li>Talle: S/M/L</li>
					</ul>
				</td>
				<td>$1500</td>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_skz.png" alt="SKZ"></td>
				<td>005</td>
				<td>Buzo Straykids</td>
				<td>
					<ul>
						<li>Género: Unisex</li>
						<li>Material: Algodón Frizado</li>
						<li>Capucha: Si</li>
						<li>Talle: S/M/L/XL/XXL</li>
					</ul>
				</td>
				<td>$3000</td>
			</tr>
			<tr>
				<td><img src="../assets/img/prod_txt.png" alt="TXT"></td>
				<td>006</td>
				<td>CD TXT Dream Chapter Eternity</td>
				<td>
					<ul>
						<li>Año de lanzamiento: 2020</li>
						<li>Cntidad de canciones: 6</li>
						<li>Incluye:</li>
						<ul>
							<li>108 page photobook</li>
							<li>Paper sticker</li>
							<li>Photocard</li>
						</ul>
					</ul>
				</td>
				<td>$8000</td>
			</tr>
		</table>
		<br>
	</main>
	<footer>
		<div>
			<div><img class="footer__imgHearts" src="../assets/img/heart.png"></div>
			<div>
				<img class="footer__imagenRedes" src="../assets/img/iconoWhatsapp.png">
				<img class="footer__imagenRedes" src="../assets/img/iconoInstagram.png">
				<img class="footer__imagenRedes" src="../assets/img/iconoFacebook.png">
			</div>
			<div><a href="">UBICACIÓN</a></div>
			<div><a href="">PROMOCIONES BANCARIAS</a></div>
			<div><img class="footer__imgHearts" src="../assets/img/heart.png"></div>
		</div>
	</footer>
</body>
</html>